.App {
  text-align: center;
}

.main-container{
  width: 700px;
  gap: 5px;
  margin-top: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.demo-simple-select-label{
  width: 10px;
}