.App {
  text-align: center;
}

.main-container{
  width: 700px;
  gap: 5px;
  margin-top: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.input-container{
  display: flex;
  gap: 5px;
  justify-content: center;
}

#demo-simple-select{
  display: flex;
  width: 80px;
}

.delete-btn{
  width: 50px;
  height: 25px;
  gap: 5px;
}

.transaction-listItem{
  margin-top: 5px;
  width: 100%;
}

li{
  display: flex;
  justify-content: center;
  gap: 10px;

}

.transacations-list{
  display: flex;
  justify-content: center;
  gap: 5px;

}